html {
  text-align: center;
  background-color: #0378FF;
}

.head-content {
  font-size: 25px;
  color: #0AFDFF;
}

.first-post img {
width: 50%;
height: 30%;
}

.first-post h2 {
  color: #0AFDFF;
}

.first-post {
font-style: italic;
font-size: 20px;
padding-top: 25px;
padding-bottom: 25px;
color: #03E8AA;
}

.second-post img {
width: 50%;
height: 30%;

}

.second-post h2 {
  color: #0AFDFF;
}

.second-post {
font-style: italic;
font-size: 20px;
padding-top: 25px;
padding-bottom: 25px;
color: #03E8AA;
}

.about-me h2 {font-size: 28px;}

.me {font-style: italic;}

.about-me {
  border: 3px solid maroon;
  text-shadow: 10px 10px 10px maroon;
  color: maroon;
  font-size: 25px;
  margin-top: 25px;
}
